Repository oota-sushikuitee/roulette, changes with the labels that .github/labeler.yml gives for each.
All labels: area/app, area/testing, area/github-management, area/configurations, area/documentation

update: yarn config
  next.config.mjs
  package.json
  yarn.lock
Labels: area/configurations

chore: yarn add ...
  package.json
  yarn.lock
Labels: area/configurations

update: tailwind config
  tailwind.config.ts
Labels: area/configurations

feat: impl MVP
  app/globals.css
  app/layout.tsx
  app/page.tsx
Labels: area/app

feat: add packages for testing
  package.json
  yarn.lock
Labels: area/configurations

feat: set configs
  .babelrc
  babel.config.cjs
  jest.config.cjs
  jest.setup.js
Labels: none

refactor
  app/page.tsx
  utils/drawLots.ts
Labels: area/app

feat: add unit test
  __tests__/utils/drawLots.test.ts
Labels: area/testing

chore: update packages
  package.json
  yarn.lock
Labels: area/configurations

feat: impl e2e test
  __tests__/app/page.test.tsx
  app/page.tsx
  jest.config.cjs
Labels: area/app, area/testing

feat: add workflows to test
  .github/workflows/test.yml
Labels: area/github-management

del: public/
  public/next.svg
  public/vercel.svg
Labels: none

update: favicon
  app/favicon.ico
Labels: area/app

docs: update README
  README.md
Labels: area/documentation

feat: add `meta name="description"`
  app/layout.tsx
Labels: area/app

docs: update README
  README.md
Labels: area/documentation

feat: add footer
  app/layout.tsx
Labels: area/app

update ci trigger
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: area/github-management

Create codeql.yml
  .github/workflows/codeql.yml
Labels: area/github-management

chore: bump dependencies
  package.json
  yarn.lock
Labels: area/configurations

update: renoate config
  .github/renovate.json
Labels: area/github-management

feat: improve ui
  app/components/GroupManager.tsx
  app/components/Header.tsx
  app/components/ThemeSelector.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  package.json
  tsconfig.json
  yarn.lock
Labels: area/app, area/configurations

fix: test
  __tests__/app/page.test.tsx
  tsconfig.json
  types/jest-dom.d.ts
Labels: area/testing, area/configurations

maintain
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/renovate-validator.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
Labels: area/github-management, area/configurations

fixup! maintain
  yarn.lock
Labels: none

Potential fix for code scanning alert no. 4: Workflow does not contain permissions
  .github/workflows/test.yml
Labels: area/github-management

.github/labeler.yml:

area/app:
  - changed-files:
      - any-glob-to-any-file: 'app/**'

area/testing:
  - changed-files:
      - any-glob-to-any-file: 'tests/**'
      - any-glob-to-any-file:
          [
            '**/*.test.js',
            '**/*.spec.js',
            '**/*.test.ts',
            '**/*.spec.ts',
            '**/*.test.tsx',
            '**/*.spec.tsx',
          ]

area/github-management:
  - changed-files:
      - any-glob-to-any-file: '.github/**'

area/configurations:
  - changed-files:
      - any-glob-to-any-file:
          [
            '.gitignore',
            '.node-version',
            '.prettierignore',
            '.prettierrc',
            '.yarnrc.yml',
            '.eslint.config.*',
            'next.config.*',
            'tsconfig.json',
            'tailwind.config.*',
            'package.json',
          ]

area/documentation:
  - changed-files:
      - any-glob-to-any-file: 'docs/**'
      - any-glob-to-any-file: '*.md'
